## Welcome to your first Jupyter Notebook in CSMODEL!
Notebooks are a great way to organize computational operations on data. We will be heavily using Notebooks in our CSMODEL course. This first Notebook is split into two parts. First, it contains a quick introduction to Jupyter Notebooks. Second, it contains a concise Python 3 crash course. Python 3 is the programming language that we will be mainly using throughout CSMODEL.

Our Notebooks in CSMODEL are designed to be guided learning activities. To use them, simply through the cells from top to bottom, following the directions along the way. If you find any unclear parts or mistakes in the Notebooks, email me at arren.antioquia@dlsu.edu.ph

## Cells
There are two types of cells in our notebooks.

The one you are looking at right now is a **markdown cell**. It contains text that you can format using a the Markdown language.

The other type of cell is a **code cell**. It contains Python code that you can execute. An example of this is the cell below this one. Click on that cell and press CTRL + Enter to execute the code in that cell.

In [7]:
2 + 5

7

As you can see above, if the code cell contains an expression, it will display the result of evaluating that expression when you run it. You can also use Ctrl + Enter to run the cell and automatically move to the next one.

You can double click on a markup cell to see the code that generated it. Double click on this cell to see the Markdown code behind it. To return to the output, run the cell using CTRL + Enter or Shift + Enter.

# This is a title
## This is a heading
### This is a subheading
---
This is a text where some part is **bold** and some part is *italic*.
> This is a blockquote
---
This is a numbered list.
1. Item 1
2. Item 2
3. Item 3
---
This is an unordered list.
- Item 1
- Item 2
- Item 3
---
For more details and the rest of the Markdown syntax, refer to this __[link](https://www.markdownguide.org/getting-started/)__.

## Cell Navigation

Notebooks come with lots of keyboard shortcuts and you are highly encouraged to use them for easy navigation between cells. Here are some of them:

- **Up / Down Arrow Keys**: Move to the previous / next cell.
- **CTRL + Enter**: Run the selected cell/s.
- **Shift + Enter**: Run the selected cell and move to the next one.
- **A**: Insert cell above.
- **B**: Insert cell below.
- **M**: Change cell type to *Markdown*.
- **Y**: Change cell type to *Code*.
- **D (twice)**: Delete selected cell/s.
- **X**: Cut selected cell/s.
- **C**: Copy selected cell/s.
- **V**: Paste selected cell/s.

## Python 3 Crash Course
Since we will be using Python 3 in this course, the following section gives you a quick crash course on the language. Please take the time to familiarize yourself with the Python 3 syntax and its capabilities. **Make sure that you run each of the code examples below to see them in action.**

### Variables
In Python, variables don't need to be declared before use.

These are **number** variables.

In [8]:
integerVar = 100
floatVar = 3.14
print(integerVar)
print(floatVar)

100
3.14

In [9]:
type(integerVar)

int

In [10]:
type(floatVar)

float

These are **string** variables.

In [11]:
stringVar = "Hello World" # Strings may also be enclosed with single quotes (')
print(stringVar)

Hello World

In [12]:
type(stringVar)

str

**bool** (boolean) values in Python are either `True` or `False`. Note that the first letter should be **capitalized**.

In [13]:
trueVar = True
falseVar = False
print(trueVar)
print(falseVar)

True
False

In [14]:
type(trueVar)

bool

In [15]:
type(falseVar)

bool

### Arithmetic Operations
Arithmetic operations are similar with most other programming languages.
One unique arithmetic operator in Python is the exponentiation operator (`**`).

In [16]:
# this cell has no output, but be sure to execute it because the next cells use the variables created here
op1 = 10
op2 = 4

In [17]:
# addition
op1 + op2

14

In [18]:
# subtraction
op1 - op2

6

In [19]:
# multiplication
op1 * op2

40

In [20]:
# real division
op1 / op2

2.5

In [21]:
# integer division
op1 // op2

2

In [22]:
# modulo
op1 % op2

2

In [23]:
# exponentiation
op1 ** op2

10000

Complex expressions follow the usual operator precedence in most other languages.

In [24]:
10 * (3 + 4 / 2) - 25

25.0

**Practice!** Determine the result of the following expression before running it.

In [25]:
# Put your prediction here
14.5

14.5

In [26]:
20 + 5 / 2 - (2 ** 3)

14.5

### String Operations
Here are some basic operations you can perform on strings. You can play around some of these code to gain a better understanding of how they work.

In [27]:
# concatenation (connect strings together)
"left" + "right"

'leftright'

In [28]:
# length (get the number of characters in a string)
text = "sometext"
len(text)

8

In [29]:
# substring (get a part of the string)
text = "somemoretext"
text[4:8] # change the numbers to explore how slicing works

'more'

**Practice!** Write a single expression at the end of the following code cell to produce the string `"monarch"` using concatenation and substring operations on `text1` and `text2` only.

In [30]:
text1 = "greenarchers"
text2 = "animolasalle"
# Write your expression here
text2[3:5] + text1[4:9]

'monarch'

### Lists
Lists are Python's version of arrays. Unlike languages like Java, elements of a list do not need to be the same datatype. Python lists are zero-indexed, meaning the first element is at index 0.

In [31]:
# creating a list
items = [4, 7, 3.14, "text"]
items

[4, 7, 3.14, 'text']

In [32]:
# length (number of elements in the list)
len(items)

4

In [33]:
# indexing
items[1]

7

In [34]:
# check membership
3.14 in items

True

In [35]:
# concatenate
items + ["a", "b" + "c"]

[4, 7, 3.14, 'text', 'a', 'bc']

In [36]:
# append to the end of the list
numbers = [1, 2, 3, 4, 5]
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 100]

In [37]:
# remove the element at the given index
numbers = [1, 2, 3, 4, 5]
numbers.pop(2)
numbers

[1, 2, 4, 5]

In [ ]:
# clear all elements
numbers = [1, 2, 3, 4, 5]
numbers.clear()
numbers

**Practice!**: Determine the output of the code cell below before running it.

In [38]:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
numbers.pop(3)
numbers[4]

6

In [39]:
# Put your prediction here
6

6

### Dictionaries 
Dictionaries are a collection of key-value pairs. Unlike lists, they are **unordered**. Instead of indexing them, you can access the values by specifiying the key.

In [ ]:
student = {
    "name": "Buboy",
    "age": 10,
    "sex": "M"
}
student

In [ ]:
# access value
student["name"]

Note that the values of dictionaries could be lists, or even dictionaries.

In [40]:
student = {
    "name": "Nena",
    "age": 12,
    "interests": ["math", "science", "cooking"],
    "favorites": {
        "food": "adobo",
        "color": "pink"
    }
}
student

{'name': 'Nena',
 'age': 12,
 'interests': ['math', 'science', 'cooking'],
 'favorites': {'food': 'adobo', 'color': 'pink'}}

In [ ]:
# access value
student["interests"][1]

**Practice!** Write an expression to access Nena's favorite color.

In [41]:
# Write your expression here.
student['favorites']['color']

'pink'

### If, Else If, Else
Like in other languages, you can create branching programs with if else control structures. Here we introduce the syntax of those strutures in Python through some examples.

Note that in Python, blocks are not grouped using curly braces { } but are instead grouped by the level of indention.

In [ ]:
# if and else
x = 7 # change the value to get different results
if x in [3, 5, 7, 11, 13, 17, 19]:
    print("x is a prime number less than 20")
else:
    print("x is not a prime number less than 20")

In [ ]:
# elif (else if)
grade = 5 # change the value to get different results
if grade > 50:
    print("grade is greater than 50")
elif grade > 10:
    print("grade is greater than 10 but not greater than 50")
else:
    print("grade is less than or equal to 10")

In [ ]:
# nested blocks
x = 50 # change the value to get different results
if x >= 20:
    if x <= 60:
        print("x is between 20 and 60, inclusive")
    else:
        print("x is greater than 60")
else:
    print("x is less than 20")

In [ ]:
# logical operator
x = 50 # change the value to get different results
if x >= 20 and x <= 60:
    print("x is between 20 and 60, inclusive")
elif x < 20 or x > 60:
    print("x is less than 20 or greater than 60")

### `while` Loop
You can also use loops in Python. For now, we will look at the `while` loop only as the `for` loop works slightly differently in Python than in most other languages. The `for` loop will be covered later on in this Notebook.

In [ ]:
n = 2048
while n > 0:
    print(n)
    n = n // 2

In [ ]:
list = ["i", "am", "a", "good", "boy"]
while len(list) > 0:
    print(list[0])
    list.pop(0)

### Functions
Functions in Python use the following notation:
```
def <function name>(<arguments>):
    <statements>
```

In [ ]:
# example function
def remainder(n, m):
    while True:
        if n - m < 0:
            return n
        else:
            n = n - m

In [ ]:
# function call
remainder(10, 4)

**Practice**: Use conditional and iterative statements to define a function `is_prime` that returns `True` if a number `n` is prime and `False` otherwise. Assume we will handle only numbers less than 100 so there is no need to use an efficient algorithm (just check if each number below `n` is a factor).

In [57]:
def is_prime(n):
    # In Python, empty functions will have an error if you don't put pass in them.
    # When you write your function, remember to remove this line.
    for i in range(2, n):
        if(n % i == 0):
            return False

    return True

In [58]:
print(is_prime(7))
print(is_prime(9))
print(is_prime(33))
print(is_prime(47))
print(is_prime(80))
print(is_prime(1))

True
False
False
True
False
True

## The New Stuff 
So far, we have covered Python features that are more or less probably familiar to you already from your experiences in your previous programming classes. Now we will look at a few capabilities of Python that may be new to you. You are **required** to be familiar with these features as we move forward in CSMODEL to please take the time to get yourself comfortable with these.

### Tuples
You can think of tuples as lists but have fixed values that cannot be changed. You also cannot add or remove elements from it.

In [ ]:
# creating tuples
t1 = (1, 3)
t2 = (6, 4, 7)
print(t1)
print(t2)

In [ ]:
# length
print(len(t1))
print(len(t2))

In [ ]:
# indexing
print(t1[0])
print(t2[1])

In [ ]:
t1[0] = 1 # This will cause an error since tuples are immutable.

### List Slicing
In Python it is easy to select parts of an list using slice notations.

In [ ]:
# this cell has no output, but be sure to execute it because the next cells use the variable created here
multiples = [5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [ ]:
# get every element in index range [3, 8)
multiples[3:8] # change the numbers here to explore how slicing works

In [ ]:
# since no end index is specified, get everything from index 4 to the end
multiples[4:] # change the number here to explore how slicing works

In [ ]:
# since no start index is specified, get everything from the beginning to index 4, exclusive
multiples[:4] # change the number here to explore how slicing works

If you use negative integers for the start or end indices, it means that you are counting **from the end of the list**.

In [ ]:
# start at index 8 (2 from the end) and get everything to the end
multiples[-2:] # change the number here to explore how slicing works

In [ ]:
# get everything from the beginning up to index 8 (2 from the end), exclusive
multiples[:-2] # change the number here to explore how slicing works

**Practice!**: Write a single expression that creates a new list containing the first 3 and last 3 elements of the original list.

`arr`: `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`

Expected: `[1, 2, 3, 8, 9, 10]`

**Note:** It should work even if you change the number of elements of `arr`. You may assume `arr` always has at least 6 elements.

In [60]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Write your expression here
arr[:3] + arr[-3:]

[1, 2, 3, 8, 9, 10]

### Generator Functions
A generator function is a function that produces a sequence of values. The values are produced using the `yield` keyword. Every time `yield` is called, a value is produced. For example, this is a function that produces the numbers from 1 to `n` using a `while` loop.

In [62]:
def gen_num_up_to(n):
    num = 1
    while num <= n:
        yield num
        num += 1

Here is a generator function that produces the first 15 terms of the __[fibonacci sequence](https://www.mathsisfun.com/numbers/fibonacci-sequence.html)__.

In [66]:
def gen_fib():
    a = 0
    b = 1
    yield a
    yield b
    ctr = 2
    while ctr < 15:
        c = a + b
        yield c
        a = b
        b = c
        ctr += 1

You can use generator functions to initialize the elements of a list like the following examples.

In [63]:
[v for v in gen_num_up_to(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [64]:
[v for v in gen_num_up_to(20)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [67]:
[v for v in gen_fib()]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

**Practice!**: Write a generator function called `gen_five()` that generates multiples of 5 between 1 and 100 inclusive.

In [68]:
# Write your generator function here.
def gen_five():
    i = 5
    while i <= 100:
        yield i
        i+=5

In [69]:
[v for v in gen_five()]

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

### `range` Function
The `range` function is a built-in function that can also be used to initialize arrays. The `range` function is **not** a generator function (it is a function that returns an immutable sequence type), but for now you can think of it as having a similar purpose.

In [70]:
# one argument: from 0 to the given number with a step of 1
[v for v in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
# two arguments: in the given range with a step of 1
[v for v in range(10, 20)]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [72]:
# three arguments: in the given range with the given step
[v for v in range(1, 50, 3)]

[1, 4, 7, 10, 13, 16, 19, 22, 25, 28, 31, 34, 37, 40, 43, 46, 49]

### `for` Loops
In Python, a `for` loop is a versatile way to write loops that iterate over sequences or elements of a list. Here are some examples on how you can use a `for` loop in Python.

In [ ]:
# iterate over a list
fruits = ["apple", "banana", "orange", "grapes", "pineapple"]
for x in fruits:
    print(x)

In [73]:
# iterate over a sequence of elements from a generator function
def gen_numbers():
    n = 1
    while n < 100:
        yield n
        n = 2 * n + 1
        
for x in gen_numbers():
    print(x)

1
3
7
15
31
63

In [ ]:
# iterate over a sequence of numbers from a range function call
for x in range(10):
    print(x)

In [ ]:
# iterate over a string's characters
for x in "Hello":
    print(x)

In [ ]:
# nested for loop
for x in range(6):
    line = ""
    for y in range(x):
        line += "*"
    print(line)

**Practice**: Write a `for` loop that prints all multiples of 7 from 1 to 100.

In [75]:
# Write your for loop here.
for i in range(7,100, 7):
    print(i)

7
14
21
28
35
42
49
56
63
70
77
84
91
98

### Lambda Functions
You can think of lambda functions as short, anonymous (no name) functions. Lambda functions return a value, but can only have a **single** expression inside.

In [ ]:
# Lambda function for doubling a number
doubler = lambda x : x * 2

In this case, `x` is the parameter of the function, and the function returns `x * 2`. The lambda function is then assigned to a variable called `doubler`. We can call this function like a normal function.

In [ ]:
doubler(10)

In [ ]:
doubler(100)

Here is a normal function that accepts a lambda function as a parameter for `operation`. The function performs the operation on the value and displays the result.

In [76]:
def operate_and_print(value, operation):
    result = operation(value)
    print("Result: " + str(result))

Now, we can call the function like so:

In [ ]:
# Pass a lambda function that returns the value after adding 100.
operate_and_print(100, lambda x : x + 100)

In [ ]:
# Pass a lambda function that returns the square root of the value
import math
operate_and_print(100, lambda x : math.sqrt(x))

In [ ]:
# Pass a lambda function that returns 0 regardless of the value
operate_and_print(100, lambda x : 0)

Although lambda functions look like a more limited form of a function, it will come particularly useful later on, so it's a good idea to familiarize yourself with it.

**Practice!** Call `operate_and_print`, passing in 100 as the `value`, and a lambda function that returns the given the value squared.

In [77]:
# Write your expression here
operate_and_print(100, lambda x: x*x)

Result: 10000